@model BrewBuddy.Web.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.Navigation = "changepassword";
}

<section>
    <div class="page-header">
        <h1>@ViewBag.Title <small>Use the form below to change your password</small></h1>
    </div>

    <div class="alert alert-info">
        New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
    </div>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "well" }))
    {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

        <fieldset>
            <legend>Change Password</legend>
            
            <div class="control-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div>
                <input type="submit" value="Change password" class="btn btn-primary"/>
            </div>
        </fieldset>
    }
</section>