@model BrewBuddy.Web.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    ViewBag.Navigation = "register";
}

<section>
    <div class="page-header">
        <h1>@ViewBag.Title <small>Use the form below to create a new account</small></h1>
    </div>

    <div class="alert alert-info">
        Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
    </div>

    @using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "well" }))
    {
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")

        <fieldset>
            <legend>Registration Form</legend>
            
            <div class="control-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        
            <div>
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </fieldset>
    }
</section>